@import url("httpshttps://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --main-font: Roboto, sans-serif;
  --background-color: #ffffff;
  --modal-background-color: #fcfcfc;
  --icon-color: #4d5ae5;
  --icon-hover-color: #404bbf;
  --dark-background-color: #2e2f42;
  --green-success-color: #31d0aa;
  --body-text-color: #434455;
  --helper-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-mode-background: #f4f4fd;
  --overlay-color: #2e2f42;
  --hero-background: #2e2f42;
  --logo-font: Raleway, sans-serif;
  --dark-text-color: #2e2f42;
}
body {
  font-family: var(--Roboto);
  color: var(#2e2f42);
}
.nav-box a {
  text-decoration: none;
  color: var(--dark-text-color);
}

.nav-box a:hover {
  text-decoration: none;
  color: var(--icon-hover-color);
}

.nav-box a:focus {
  text-decoration: none;
  color: var(--icon-hover-color);
}

.main-theme-box {
  color: var(--white, #fff);

  width: 496px;
  text-align: center;
  font-size: 56;
  font-style: normal;
  font-weight: 700;
  line-height: 1.071;
  letter-spacing: 1.12;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
}

.main-theme-box h1 {
  color: var(--background-color);
}

footer a {
  text-decoration: none;
}

.footer-box {
  background-color: var(--dark-background-color);
}

.footer-box p {
  color: var(--light-mode-background);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.solution-list ul {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  list-style: none;
  margin: 0 156px;
}

.doing-list ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.team-list ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-box {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contact-list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-list ul {
  font-size: 16;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  list-style: none;
  gap: 40px;
}

.first-half-logo {
  color: var(--icon-color);
  font-family: var(--logo-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.167;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.second-half-logo {
  color: var(--dark-text-color);
  font-family: var(--logo-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.167;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.second-half-logo-footer {
  color: var(--background-color);
  font-family: var(--logo-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.167;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.main-button {
  border-radius: 4px;
  background: var(--icon-color);
  width: 169px;
  height: 56px;
  color: var(--background-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.main-button:hover {
  background-color: var(--icon-hover-color);
}

.main-button:focus {
  background-color: var(--icon-hover-color);
}
